html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #658147;
}
.header{
    display: flex;
    background-color: #597445;
    color: white;
    gap: 10px;
    height: 30px;
    padding: 8px;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 20px;
}
.right{
    display: flex;
    gap: 25px;
    align-items: flex-end;
}

.body1{
    background-color: #E7F0DC;
    display:flex;
    justify-content: space-around;
    align-items: flex-start; /* Align items to the top */
    padding: 50px;
    gap: 200px;

}
img {
    width: 450px;
    height: 300px;
    border-radius: 8px;
  
  }

.info{
    max-width: 600px;
    font-size: 16px;
    font-weight: 100;
    padding-bottom: 15px;
}

.heading{
    font-size: 25px;
    font-weight: 700;
}

button{
    background-color: #729762; 
    color: rgb(255, 255, 255);  
    font-size: 25px;
    padding: 12px;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

button:hover{
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 4px #597445;
    transition: 0.7s;
}
button::after