html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.header{
    display: flex;
    background-color: #597445;
    color: white;
    gap: 10px;
    height: 30px;
    text-decoration: none;
    padding: 8px;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 20px;
}
.right{
    display: flex;
    gap: 25px;
    align-items: flex-end;
}
a {
    color: inherit;
    text-decoration: none; 
}

.body1{
    background-color: #E7F0DC;
    display:flex;
    flex: 1;
    justify-content: space-around;
    align-items: flex-start;
    padding: 50px;
    padding-bottom: 50px;
    gap: 200px;
    color: #658147;
}
.body1 img {
    width: 450px;
    flex: 1;
    height: 300px;
    border-radius: 8px;
  
  }
.info{
    max-width: 600px;
    font-size: 16px;
    font-weight: 100;
    padding-bottom: 15px;
}
.heading{
    font-size: 25px;
    font-weight: 700;
}
button{
    background-color: #729762; 
    color: rgb(255, 255, 255);  
    font-size: 25px;
    padding: 12px;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
button:hover{
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 4px #597445;
    transition: 0.7s;
}
.gallaryCont{
    background-color: #729762;
    color:#E7F0DC;
    display:flex;
    justify-content: center;
    gap: 10px;

    padding: 50px;
}
.mission{
    color: #E7F0DC;
    background-color: #729762;
    font-size: 35px;
    padding-top: 20px;
    text-align: center;
    font-weight: 700;
    align-items: flex-start;
    gap: 5px;
}
.gallaryCont img{
    width: 120%;
    flex-wrap: wrap;
    display: flex;
    height: 140px;
    margin: 5px;
    border-radius: 8px;
}
.gallaryCont div{
    flex:1;
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 200px;
    padding: 10px;
}
.quote{
    padding: 60px;
    text-align: center;
    background-color: #E7F0DC;
    color: #597445;
    font-size: 25px;
    font-style: italic;
    display: flex;
    flex-direction: column;
}

.author{
    margin-left: auto;
    width: 100%;
    text-align: right;
    padding-top: 50px;
}
.help{
    display: flex;
    padding: 10px;
    text-align: center;
    background-color: #E7F0DC;
    font-size: 25px;
    align-items: center;
    justify-content: center;
    padding-bottom: 50px;
}
.pop{
    display: flex;
    border-radius: 10px;
    background-color: #597445;
    padding: 20px;
    align-items: center;
    gap: 100px;

}
.leftpop{
    display: flex;
    flex-direction: column;
    color: #E7F0DC;
    font-size: 10px;
    text-align: left;
}
.footer{
    text-align: center;
    padding: 10px;
    background-color: #d8e2cd;
    font-size: 10px;
}